<header class="main-header">
    <a [routerLink]="['/']" class="logo">
      <span class="logo-mini"><b>M.A.</b></span>
      <span class="logo-lg"><b>Mesa de Ayuda</b></span>
    </a>

    <nav class="navbar navbar-static-top">
           <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      
      <div class="navbar-custom-menu">
        
        <ul class="nav navbar-nav">
            
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../../../assets/img/profile-placeholder-125x125.png" class="user-image" alt="User Image">
                <span class="hidden-xs">{{shared.usuario.email}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="../../../assets/img/profile-placeholder-125x125.png" class="img-circle" alt="User Image">  
                  <p>
                    {{shared.usuario.email}}
                    <small>{{shared.usuario.perfil}}</small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right"><a><button class="btn btn-link" (click)="signOut()"><font style="color: black">Salir</font></button></a>
                    
                  </div>
                </li>
              </ul>
            </li>
            
          </ul>
      </div>

    </nav>
  </header>