<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Mesa de</b> Ayuda</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingrese para iniciar sesión</p>

    <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()">
      <div class="alert alert-error" role="alert" *ngIf="message">
        <strong>Email o Password Invalido</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
              <input 
                type="email" 
                [(ngModel)]="usuario.email"
                class="form-control" 
                name="email"
                id="inputEmail" 
                #email="ngModel"
                placeholder="Email"
                email>
                <span class="help-block" *ngIf="email.invalid && email.dirty">Email is invalid</span>
          </div>
        </div>
        <div [ngClass]="getFromGroupClass(password.invalid, password.dirty)">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input 
                  type="password" 
                  [(ngModel)]="usuario.password"
                  class="form-control" 
                  name="password"
                  id="inputPassword" 
                  #password="ngModel"
                  placeholder="password"
                  required>
                  <span class="help-block" *ngIf="password.invalid && password.dirty">Password is required</span>
            </div>
          </div>
        
      </div>
      <div class="box-footer">
        <button type="submit" (click)='cancelLogin()' class="btn btn-default">Cancel</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
      </div>
    </form>
    <div>
      <br>
      <p>usuario : admin@admin.com contraseña : admin </p>
      <p>usuario : tecnico@tecnico.com contraseña : tecnico </p>
      <p>usuario : cliente@cliente.com contraseña : cliente </p>
    </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
