<div [ngClass]='classCss' role="alert" *ngIf="message">
  <strong>{{ message.text}}</strong>
</div>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Usuarios</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th></th>
              <th>Profile</th>
              <th style="width: 10px">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let user of listUser">
              <td>{{ user.email }}</td>
              <td>{{ user.perfil }}</td>
              <td><button class="btn btn-primary" (click)="edit(user._id)">Edit</button></td> 
              <td><button class="btn btn-danger" (click)="delete(user._id)">Delete</button></td>
              <td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
