<div class="col-md-6" style="margin-left: 0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Editar Ticket</h3>
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
        <div [ngClass]='classCss' role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
        <div class="box-body">
          <div [ngClass]="getFromGroupClass(titulo.invalid, titulo.dirty)">
            <label for="inputTitle" class="col-sm-2 control-label">Titulo</label>
            <div class="col-sm-10">
                <input
                  type="text"
                  [(ngModel)]="ticket.titulo"
                  class="form-control"
                  name="titulo"
                  id="inputTitle"
                  #titulo="ngModel"
                  placeholder="Titulo"
                  required>
                  <span class="help-block" *ngIf="titulo.invalid && titulo.dirty">Titulo es requerido</span>
            </div>
          </div>
          <div [ngClass]="getFromGroupClass(descripcion.invalid, descripcion.dirty)">
              <label for="inputDescription" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                  <textarea
                    [(ngModel)]="ticket.descripcion"
                    class="form-control"
                    name="descripcion"
                    rows="3"
                    id="inputDescription"
                    #descripcion="ngModel"
                    placeholder="Descripción..."
                    required>
                    </textarea>
                    <span class="help-block" *ngIf="descripcion.invalid && descripcion.dirty">Descripción es requerida</span>
              </div>
            </div>
          </div>
        <div class="box-footer">
          <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  