<div class="col-md-6" style="margin-left: 0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Editar Usuario</h3>
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
        <div [ngClass]='classCss' role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
        <div class="box-body">
            <div [ngClass]="getFromGroupClass(cui.invalid, cui.dirty)">
                <label for="inputCui" class="col-sm-2 control-label">Documento</label>
                <div class="col-sm-10">
                    <input
                      type="text"
                      [(ngModel)]="usuario.cui"
                      class="form-control"
                      name="titlecui"
                      id="inputCui"
                      #cui="ngModel"
                      placeholder="Identificación"
                      required>
                      <span class="help-block" *ngIf="cui.invalid && cui.dirty">Codigo es requerido</span>
                </div>
              </div>
              <div [ngClass]="getFromGroupClass(nombre.invalid, nombre.dirty)">
                <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input
                      type="text"
                      [(ngModel)]="usuario.nombre"
                      class="form-control"
                      name="title"
                      id="inputNombre"
                      #nombre="ngModel"
                      placeholder="Nombre de usuario"
                      required>
                      <span class="help-block" *ngIf="nombre.invalid && nombre.dirty">Nombre es requerido</span>
                </div>
              </div>    
          <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input
                  type="email"
                  [(ngModel)]="usuario.email"
                  class="form-control"
                  name="email"
                  id="inputEmail"
                  #email="ngModel"
                  placeholder="Email"
                  email>
                  <span class="help-block" *ngIf="email.invalid && email.dirty">Email is invalid</span>
            </div>
          </div>
          <div [ngClass]="getFromGroupClass(password.invalid, password.dirty)">
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                  <input
                    type="password"
                    [(ngModel)]="usuario.password"
                    class="form-control"
                    name="password"
                    id="inputPassword"
                    #password="ngModel"
                    placeholder="password"
                    required>
                    <span class="help-block" *ngIf="password.invalid && password.dirty">Password is required</span>
              </div>
            </div>
  
            <div [ngClass]="getFromGroupClass(profile.invalid, profile.dirty)">
              <label for="inputProfile" class="col-sm-2 control-label">Profile</label>
              <div class="col-sm-10">
                  <select [(ngModel)]="usuario.perfil"
  
                    class="form-control select2"
                    name="profile"
                    id="inputProfile"
                    #profile="ngModel"
                    style='width: 100%'
                    required>
                    <option>ROLE_ADMIN</option>
                    <option>ROLE_CLIENTE</option>
                    <option>ROLE_TECNICO</option>
                  </select>
                    <span class="help-block" *ngIf="profile.invalid && profile.dirty">Perfil es necesario</span>
              </div>
            </div>
          </div>
        <div class="box-footer">
          <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Guardar</button>
        </div>
      </form>
    </div>
  