<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview" *ngIf="shared.usuario.perfil == 'ADMIN'">
          <a href="#">
            <i class="fa fa-users"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/usuario-lista']"><i class="fa fa-list"></i> List</a></li>
            <li><a [routerLink]="['/usuario-nuevo']"><i class="fa fa-user-plus"></i> New User</a></li>
          </ul>
        </li>
        <li class="treeview" *ngIf="shared.usuario.perfil != 'ADMIN'">
          <a href="#">
            <i class="fa fa-ticket"></i> <span>Ticket</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/ticket-lista']"><i class="fa fa-list"></i>Mis Tickets</a></li>
            <li *ngIf="shared.usuario.perfil == 'CLIENTE'"><a [routerLink]="['/ticket-nuevo']"><i class="fa fa-edit"></i>Crear Ticket</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-sliders"></i> <span>Configuración</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/resumen']"><i class="fa fa-user"></i> Configuración</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  
