<div class="col-md-10" style="margin-left: 0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3>Detail Ticket</h3>
      </div>
      <form class="form-horizontal">
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{message.text}}</strong>
        </div>
        <div class="box-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Number: </b><span>{{ticket._id}}</span>
              <span class="pull-right"><b>Title: </b><span>{{ ticket.titulo }}</span></span>
            </li>
            <li class="list-group-item">
              <b>Información: </b><span> </span>  
              <span class="pull-right"><b>Creado por: </b><span>{{ ticket?.usuarioCrea }}</span></span>
            </li>
            <li class="list-group-item">
              <b>Status: </b><span>{{ticket.estado}}</span>
              <span class="pull-right"><b>Asignado a: </b><span>{{ ticket?.usuarioAsignado }}</span></span>
            </li>
            <li class="list-group-item">
                <b>Descripción: </b><span></span>
              <span class="pull-right"><b>Date: </b><span>{{ticket.createdAt |  date:'dd/MM/yyyy'}}</span></span>
              
              <p>{{ ticket.descripcion }}</p>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                  <table class="table table-bordered">
                    <tr>
                      <th>Cambios</th>
                      <th>Fecha de Cambio</th>
                      <th>Estado</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  </table>
                </span>
              </li>
          </ul>
        </div>
        <div class="box-footer">
          <button *ngIf="shared.usuario.perfil == 'TECNICO' && ticket.estado == 'Nuevo'" (click)="changeStatus('Asignado')" class="btn btn-primary">Aceptado</button>
          <button *ngIf="shared.usuario.perfil == 'TECNICO' && (ticket.estado == 'Asignado' || ticket.estado == 'NoAprobado')" (click)="changeStatus('Resuelto')" class="btn btn-primary">Solucionado</button>
          <button *ngIf="shared.usuario.perfil == 'CLIENTE' && ticket.estado == 'Resuelto'" (click)="changeStatus('Aprobado')" class="btn btn-primary">Aprobado</button>
          <button *ngIf="shared.usuario.perfil == 'CLIENTE' && ticket.estado == 'Resuelto'" (click)="changeStatus('NoAprobado')" class="btn btn-primary">NoAprobado</button>
          <button *ngIf="shared.usuario.perfil == 'TECNICO' && ticket.estado == 'Resuelto'" (click)="changeStatus('NoAprobado')" class="btn btn-primary">Cerrado</button>
        </div>
      </form>
    </div>
  </div>