<div [ngClass]='classCss' role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Ticket List</h3>
        </div>
        <div class="box-body">
          <div class="form-group" *ngIf="shared.usuario.perfil == 'TECNICO'">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="assignedToMe" name="assignedToMe" id="assignedToMe">
                <b>Asignar a mi</b>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputNumber" class="col-sm-2 control-label">Identificación</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="ticketFilter._id" class="form-control" name="_id" id="inputNumber">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="ticketFilter.titulo" class="form-control" name="titulo" id="inputTitle">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStatus" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
              <select  [(ngModel)]="ticketFilter.estado" class="form-control" name="estado" id="inputStatus" style="width: 100%">
              <option>Nuevo</option>
              <option>Resuelto</option>
              <option>Aprobado</option>
              <option>NoAprobado</option>
              <option>Asignado</option>
              <option>Cerrado</option>
              </select>
            </div>
          </div>  
        </div>
        <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="cleanFilter()">Clean Filter</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="filter()">Filter</button>
        </div>
  
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th>Identificación</th>
              <th>Titulo</th>
              <th>Estado</th>
              <th>Cliente</th>
              <th style="width: 10px" *ngIf="shared.usuario.perfil == 'CLIENTE'">&nbsp;</th>
              <th style="width: 10px" *ngIf="shared.usuario.perfil == 'CLIENTE'">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let ticket of listTicket">
              <td>{{ ticket._id }}</td>
              <td>{{ ticket.titulo }}</td>
              <td>{{ ticket.estado }}</td>
              <td>{{ ticket?.usuarioCrea }}</td>
              <td *ngIf="shared.usuario.perfil == 'CLIENTE'"><button class="btn btn-primary" (click)="edit(ticket._id)">Edit</button></td>
              <td *ngIf="shared.usuario.perfil == 'CLIENTE'"><button class="btn btn-danger" (click)="delete(ticket._id)">Delete</button></td>
              <td><button class="btn btn-success" (click)="detail(ticket._id)">Detail</button></td>
              <td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
